<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="msoff.tajikcuisine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Category" />
        <activity android:name=".Recipe1_1" />
        <activity android:name=".Recipe1_2" />
        <activity android:name=".Recipe1_3" />
        <activity android:name=".Recipe1_4" />
        <activity android:name=".Recipe1_5" />
        <activity android:name=".Recipe1_6" />
        <activity android:name=".Recipe1_7" />
        <activity android:name=".Recipe1_8" />
        <activity android:name=".Recipe1_9" />
        <activity android:name=".Recipe2_0" />
        <activity android:name=".Recipe2_1" />
        <activity android:name=".Recipe2_2" />
        <activity android:name=".Recipe2_3" />
        <activity android:name=".Recipe3_1" />
        <activity android:name=".Recipe3_0" />
        <activity android:name=".Recipe3_2" />
        <activity android:name=".Recipe3_3" />
        <activity android:name=".Recipe4_0" />
        <activity android:name=".Recipe4_2" />
        <activity android:name=".Recipe4_4" />
        <activity android:name=".Recipe5_0" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Send" />
        <activity android:name=".Bozi" />
        <activity android:name=".AddNew" />
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>